.thubmnailContainer {
  position: relative;
}

.column .thumbnailContainer {
  width: 480px;
  height: 270px;
  overflow: hidden;
  border-radius: 0.5em;
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.grid .thumbnail {
  border-radius: 0.5em;
  width: 100%;
  height: auto;
}

.column .thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.duration {
  position: absolute;
  z-index: 999;
  padding: 0 0.3em;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  font-weight: 600;
  border-radius: 0.5em;
}

.grid .duration {
  bottom: 7%;
  right: 2%;
  font-size: 14px;
}

.column .duration {
  bottom: 2%;
  right: 1%;
  font-size: 18px;
}
