:root {
  --brand-color-red: #FF0000;
  --default-page-margin: 30px;
  --search-header-height: 80px;
  --duration-bg-color: rgba(0, 0, 0, 0.85);
  --thumbnail-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  --color-text-grey: #6a6a6a;
  --color-bg-primary-grey: #f3f3f3;
  --hover-color-bg-primary-grey: #e4e4e4;
  --color-bg-secondary-grey: hsl(0, 0%, 79%);
  --hover-color-bg-secondary-grey: hsl(0, 0%, 71%);
  --color-primary-blue: #065fd4;
  --hover-color-primary-blue: hsl(214, 100%, 93%);
  --border-radius-x-large: 40px;
  --border-radius-medium: 16px;
  --border-radius-small: 8px;
  --border-radius-x-small: 4px;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

button {
  cursor: pointer;
  border: none;
}

p {
  margin: 0;
  white-space: pre-line;
}

body {
  margin: var(--default-page-margin);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.search-header-spacing {
  margin: var(--search-header-height) auto 0.5em;
}

.videoDetailsPageContainer {
  display: flex;
  flex-direction: column;
}

/* Skeleton Styles */
.skeleton {
  background: linear-gradient(90deg, #f0f0f0, #f8f8f8, #f0f0f0);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200px;
  }
  100% {
    background-position: 200px;
  }
}

.skeletonAvatar {
  flex-shrink: 0;
  flex-grow: 0;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
}